<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
    	 http://www.springframework.org/schema/beans/spring-beans.xsd
     	 http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
     	 http://www.springframework.org/schema/tx/spring-tx.xsd
	     http://www.springframework.org/schema/mvc
		 http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
	<!-- 同时开启json格式的支持 -->
	<mvc:annotation-driven></mvc:annotation-driven>

	<!-- 扫描所有的controller 但是不扫描service 因为service中有事务 -->
	<context:component-scan base-package="com.howl.androte">
		<context:include-filter type="annotation"
								expression="org.springframework.stereotype.Controller" />
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Service" />
	</context:component-scan>

	<!-- 拦截器配置 -->
	<mvc:interceptors>
		<!-- session超时 -->
		<mvc:interceptor>
			<mvc:mapping path="/*/*"/>
			<bean class="com.howl.androte.interceptor.SessionTimeoutInterceptor">
				<property name="allowUrls">
					<list>
						<!-- 如果请求中包含以下路径，则不进行拦截 -->
						<value>/admin/adminLogin.html</value>
						<value>/admin/login.action</value>
						<value>/js</value>
						<value>/css</value>
						<value>/fonts</value>
						<value>/images</value>
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 自定义异常处理，SimpleMappingExceptionResolver这个类可以是个空类，但是要写，方便在java代码里面使用 -->
	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="com.howl.androte.exception.SessionTimeoutException">redirect:/admin/adminLogin.html</prop>
			</props>
		</property>
	</bean>
</beans>     










